.card {
    border-color: #e1e8ed;
    background-color: #e1e8ed;
}

.card-body .additional_fields {
    max-height: 100px;
    overflow-y: auto;
}

.no-padding {
    padding: 0px !important;
}

.controls {
    margin-top: 2%;
}

.additional_field_row {
    padding: 1% 0px 1% 0px;
}

span.remove-icon {
    cursor: pointer;
    padding-top: 1px;
}