<form [formGroup]="templateFormGroup" (ngSubmit)="submit()">
  <div class="container-fluid">
    <div class="row">
      <!-- Apps Section -->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="col-12 owner-apps">
          <fieldset>
            <legend>
              <small>Please select owner application</small>
            </legend>
            <ul class="list-group noty-owner" *ngIf="(ownerAppDataset | async)?.length > 0">
              <li class="list-group-item" *ngFor="let app of ownerAppDataset | async;let i = index;">
                <input type="radio" formControlName="owner_app" value="{{ app.id }}" (change)="updateReceiverListOnRadioChange(i, app)" />
                {{ app.name }}
              </li>
            </ul>
          </fieldset>
        </div>
        <div class="col-12 receiver-apps">
          <fieldset>
            <legend>
              <small class="float-left">Please select receiver application(s)</small>
              <small class="float-right mt-2">
                <input type="checkbox" (change)="checkAllReceiverApps($event.target.checked)">
                Select&nbsp;/&nbsp;Unselect All
              </small>
            </legend>
            <ul class="list-group noty-receiver">
              <li class="list-group-item" *ngFor="let app of receiverAppDataset | async;let i = index;">
                <input type="checkbox" [formControl]="templateFormGroup.get('receiver_apps').controls[i]" value="{{ app.id }}"
                  id="{{ i }}" /> {{ app.name }}
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
      <!-- Notification Detail Section -->
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="col-12">
          <fieldset>
            <legend>Notification Template</legend>

            <div class="col-12">
              <div class="form-group">
                <select class="form-control" (change)="loadTemplate()" formControlName="selectedTemplate">
                  <option value="-1">Please select an existing tempalte to use</option>
                  <option *ngFor="let template of existingTemplates | async;let i = index;" value="{{ template.id }}">{{
                    template.name }}</option>
                </select>
              </div>
              <div class="form-row">
                  <div class="form-group col-6">
                    <label for="exampleFormControlSelect1">Platform</label>
                    <select class="form-control" formControlName="os" (change)="adjustAdditionalData($event)">
                      <option value="0">IOS</option>
                      <option value="1">Android</option>
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label for="exampleFormControlSelect2">Notification Delivery</label>
                    <select class="form-control" formControlName="notification_delivery">
                      <option value="">Immidiate</option>
                      <option value="last-active">Intelligent</option>
                    </select>
                  </div>
              </div>              
              <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input type="email" class="form-control" formControlName="name">
              </div>
              <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" formControlName="message" rows="1"></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h6>ADDITIONAL FIELDS</h6>
                  <div class="container additional_fields" formArrayName="additional_fields">
                    <div class="row additional_field_row" [formGroupName]="i" *ngFor="let field of additionalValues.controls;let i =  index;">
                      <div class="col-5">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Key</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Key" formControlName="key">
                        </div>
                      </div>
                      <div class="col-5">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Value</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Value" formControlName="value">
                        </div>
                      </div>
                      <!-- [hidden]="i == 0" -->
                      <span class="col-1 remove-icon" (click)="removeAdditionalField(i)">
                        <i class="fa fa-trash fa-2x text-primary"></i>
                      </span>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-12 controls">
                        <button type="button" class="btn btn-primary btn-sm" (click)="addNewAdditionalFieldRow()">ADD
                          ANOTHER</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-12">
              <div class="form-group">
                <label>Launch URL</label>
                <input type="text" class="form-control" placeholder="http://bit.ly/abc" formControlName="launch_url">
              </div>
            </div> -->
            <div class="col-12">
              <div class="form-group">
                <label>Big Picture URL</label>
                <input type="text" class="form-control" placeholder="http://bit.ly/abc" formControlName="big_picture">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        
      </div>
    </div>
  </div> -->  
  <button type="submit" class="btn btn-primary float-left btn-sm ml-3" [disabled]="!templateFormGroup.valid">Send Notification</button>
</form>
<span class="pl-2">
  <input type="checkbox" [(ngModel)]="saveAsTemplate" >
  <label class="text-primary">Save details as template</label>
</span>
