<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel">
          <div class="panel-heading text-right">
            <button class="btn btn-default btn-sm" (click)="openTemplateCreateModal()">Add New</button>
            <span class="float-right"><i class="fa fa-sync"></i></span>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>                  
                  <th class="text-center">
                    <div ngbDropdown class="d-inline-block">
                      <span ngbDropdownToggle ngbTooltip="Click to filter by 'Platform'" placement="top" container="body">Platform <i class="fa fa-carrot-down"></i></span>
                      <div ngbDropdownMenu aria-labelledby="ddAppPlatform">
                        <button class="dropdown-item" (click)="filterByKey('os',-1)">All</button>
                        <button class="dropdown-item" (click)="filterByKey('os',1)">Android</button>
                        <button class="dropdown-item" (click)="filterByKey('os',0)">IOS</button>
                      </div>
                    </div>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let template of templates | async;let i = index;">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <h1 class="mb-1 p-0">{{ template.title }}</h1>
                    <h2 class="m-0 p-0">{{ template.title }}</h2>
                  </td>
                  <td class="text-center">{{ template.platform_name }}</td>                  
                  <td>
                    <!-- Edit Template -->
                    <a href="javascript:void" (click)="openTemplateEditModal(template)">
                        <span ngbTooltip="Edit this template" placement="top"><i class="fa fa-pencil"></i></span>                        
                    </a>

                    <!-- Remove Template -->
                    <a href="javascript:void" (click)="removeTemplate($event, template)">                      
                      <span ngbTooltip="Delete this template" placement="top"><i class="fa fa-trash"></i></span>
                    </a>
                  </td>
                </tr>              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  